
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte-principal: Kalam;
}

body {
    font-family: Kalam;
    font-size: 16px;
    
}

#nav {
    background-color: #131212;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav ul li {
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#nav ul#menu li {
    float: left;
    border-radius: 8px;
}
#nav ul.right li {
    float: right;
}

/* Clearfix */
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(10, 143, 144);;
    text-decoration: none;
}

#nav ul#menu li.active {
    background-color: black;
}

#nav ul#menu li:hover {
    background-color: rgb(36, 35, 35);
}

/* Cores */
.black {
    background-color: black;
}

.red {
    background-color: #61070A;
}

.gray {
    background-color: #303030;
}

.lightred {
    background-color: rgb(102, 32, 32);
}

/* Imagem transparente */
.banner {
    position: relative;
}
.banner::before {
    content: "";
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}



[class*= "col-"] {
    float: left; 
    padding-right: 5px;
}

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%;}

.col-3 {width: 25%}

.col-4 {width: 33.33%;}

.col-5 {width: 41.66%;}

.col-6 {width: 50%;}

.col-7 {width: 58.33%;}

.col-8 {width: 66.66%;}

.col-9 {width: 75%;}

.col-10 {width: 83.33%;}

.col-11 {width: 91.66%;}

.col-12 {width: 100%;}

img {
    width: 100%;
}

img.img_ajuste {
    object-fit: cover;
    border-radius: 8px 8px 8px 8px;
    height: 400px;
}

img.img_logo {
    border-radius: 8px 8px 0 0;
    height: 300px;
}

img.img_templogo {
    border-radius: 8px 8px 8px 8px;
    height: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

img.img_tempposter {
    border-radius: 8px 8px 8px 8px;
    height: 400px;
}

#personagens img { 
    object-fit: cover;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

#personagens h6 {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background-color: #800B10;
    border-radius: 0 0 8px 8px;
    font-weight: normal;
    padding: 3px;
}

#temporadas p {
    text-align: left;
    font-size: 14px;
    color: #9fa2aa;
    padding: 5px;
    font-family: kalam;
}

#temporadas h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    color: #6A6A6A;
    background-color: #000;
    border-radius: 0 0 8px 8px;
    font-weight: normal;
    padding: 3px;
    font-family: rakkas;
}

#temporadas h4 {
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    color: #99292c;
    font-weight: 50px;
    padding: 3px;
    font-family: rakkas;
}

#temporadas h2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    color: #99292c;
    font-weight: 50px;
    padding: 3px;
    font-family: rakkas;
}

#temporadas a {
    padding-left: 10px;
    padding-right: 10px;
    color: #99292c;
    text-decoration: none;
    font-family: rakkas;
}

footer {
    background-color: #131212;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#foot h1 {
    font-size: 10px;
    color: rgb(10, 143, 144);;
    text-align: center;
    text-transform: uppercase;
}

#foot h3 {
    font-size: 8px;
    color: rgb(10, 143, 144);;
    text-align: center;
    text-transform: uppercase;
}

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


 